SECRET_KEY=
DEBUG=False
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://localhost:6379/0
BOT_TOKEN=
ADMIN_TELEGRAM_ID=
LOG_LEVEL=INFO
DOU_FEED_URL=https://jobs.dou.ua/vacancies/feeds/
JOBICY_API_URL=https://jobicy.com/api/v2/remote-jobs?count=50